.dropdown{
    left: 20%;
}
.users{
     
    width:3.7em;
    height:3.7em; 
    border-radius:50%;
}
button{
    background:none;
    border:none;
    padding: 0;
    text-align: right;
}
.userName{
    width: 90%;
}
