<form class="form-wrapper-modal-w"  [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <h1 *ngIf="!eventId; else newEvent">Create Event</h1>
    <ng-template #newEvent>
        <h1>Update Event</h1>
   </ng-template>
    <mat-form-field class="full-width-input">
      <span matPrefix>
        <mat-icon matPrefix>edit</mat-icon>
      </span>
      <input matInput placeholder="Title" formControlName="Title" required>
    </mat-form-field>
    <mat-form-field class="full-width-input">
      <span matPrefix>
        <mat-icon matPrefix>date_range</mat-icon>
      </span>
      <input matInput type="datetime-local" placeholder="date" formControlName="Date" required>
    </mat-form-field>
    <!-- <mat-form-field class="full-width-input">
      <input matInput type="time" placeholder="time" formControlName="time" required>
    </mat-form-field> -->
    <mat-form-field class="full-width-input">
      <span matPrefix>
        <mat-icon matPrefix>home</mat-icon>
      </span>
      <input matInput placeholder="address" formControlName="Address" required>
    </mat-form-field>
    <mat-form-field class="full-width-input">
      <span matPrefix>
        <mat-icon matPrefix> not_listed_location</mat-icon>
      </span>
      <input matInput placeholder="city" formControlName="City" required>
    </mat-form-field>
    <mat-form-field class="full-width-input">
      <span matPrefix>
        <mat-icon matPrefix>description</mat-icon>
      </span>
      <input matInput placeholder="description" formControlName="Description" required>
    </mat-form-field>
    <mat-form-field class="full-width-input">
      <span matPrefix>
        <mat-icon matPrefix>question_answer</mat-icon>
      </span>
      <input matInput placeholder="comment" formControlName="Comment">
    </mat-form-field>
    <section class="example-section">
        <span matPrefix>
          <mat-icon matPrefix>replay</mat-icon>
        </span>
        <mat-checkbox class="example-margin" [checked]="true" (click)="Repeat()" formControlName="Repeat">Repeat?</mat-checkbox>
      </section>
    <section class="example-section">
      <span matPrefix>
        <mat-icon matPrefix> local_cafe</mat-icon>
      </span>
      <mat-checkbox class="example-margin" [checked]="true" (click)="DairyOrFleshy()" formControlName="IsDairy">Is Dairy?</mat-checkbox>
    </section>
    <mat-form-field class="full-width-input">
    <mat-select placeholder="eventsKind" formControlName="EventKindId" class="full-width-input" required>
      <mat-option *ngFor="let item of ArreventsKind" [value]="item.Id">
        {{item.Name}}
      </mat-option>
    </mat-select>
</mat-form-field>
    <button type="submit" class="btn-deafult">Save</button>
  </form>