<div class="div1">
    <div class="div-menu">
        <h2 *ngIf="Appetizer[0]">Appetizer:</h2>
        <p *ngFor="let item of Appetizer">
            <button mat-icon-button>
                <mat-icon (click)="openDialog(item.Id)">description</mat-icon>
            </button>
            <button mat-icon-button>
                <mat-icon (click)="openModal1(item.Id);">edit</mat-icon>
            </button>
            <button mat-icon-button>
                <mat-icon (click)="deleteMenu(item.Id);">delete_sweep</mat-icon>
            </button>
            {{item.Name}}
        </p>
        <h2 *ngIf="SecondDish[0]">Second dish:</h2>
        <p *ngFor="let item of SecondDish">
            <button mat-icon-button>
                <mat-icon (click)="openDialog(item.Id)">description</mat-icon>
            </button>
            <button mat-icon-button>
                <mat-icon (click)="openModal1(item.Id);">edit</mat-icon>
            </button>
            <button mat-icon-button>
                <mat-icon (click)="deleteMenu(item.Id);">delete_sweep</mat-icon>
            </button>
            {{item.Name}}
        </p>
        <h2 *ngIf="SideDish[0]">Side dish:</h2>
        <p *ngFor="let item of SideDish">
            <button mat-icon-button>
                <mat-icon (click)="openDialog(item.Id)">description</mat-icon>
            </button>
            <button mat-icon-button>
                <mat-icon (click)="openModal1(item.Id);">edit</mat-icon>
            </button>
            <button mat-icon-button>
                <mat-icon (click)="deleteMenu(item.Id);">delete_sweep</mat-icon>
            </button>{{item.Name}}
        </p>
        <h2 *ngIf="MainDish[0]">Main dish:</h2>
        <p *ngFor="let item of MainDish">
            <button mat-icon-button>
                <mat-icon (click)="openDialog(item.Id)">description</mat-icon>
            </button> <button mat-icon-button>
                <mat-icon (click)="openModal1(item.Id);">edit</mat-icon>
            </button>
            <button mat-icon-button>
                <mat-icon (click)="deleteMenu(item.Id);">delete_sweep</mat-icon>
            </button>{{item.Name}}
        </p>
        <h2 *ngIf="Desserts[0]">Desserts:</h2>
        <p *ngFor="let item of Desserts">
            <button mat-icon-button>
                <mat-icon (click)="openDialog(item.Id)">description</mat-icon>
            </button> <button mat-icon-button>
                <mat-icon (click)="openModal1(item.Id);">edit</mat-icon>
            </button>
            <button mat-icon-button>
                <mat-icon (click)="deleteMenu(item.Id);">delete_sweep</mat-icon>
            </button>{{item.Name}}
        </p>
        <button mat-icon-button>
            <mat-icon (click)="openModal1();">add_circle</mat-icon>
        </button>
    </div>
    <ngx-gallery [options]="galleryOptions" class="pic" [images]="galleryImages"></ngx-gallery>
    <div style="text-align: center;">
        <button mat-icon-button (click)="fileInput.click()">
            <mat-icon>add_photo_alternate</mat-icon>
        </button>
        <input type="file" #fileInput (change)="onFileSelect($event)" style="margin: auto;display:none;">
    </div>
    <div class="details" *ngIf="events.Title">
        <mat-card class="event-card">
            <mat-card-header style="display: block;">
                <mat-card-title>{{events.Title}}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>

                    <span> {{events.Date|date:'shortDate'}}</span>
                    <mat-icon>date_range</mat-icon>
                </p>
                <p>

                    <span> {{events.Date|date:'shortTime'}}</span>
                    <mat-icon>access_time</mat-icon>
                </p>
                <p>

                    <span> {{events.Address}}-{{events.City}}</span>
                    <mat-icon>home</mat-icon>
                </p>
                <p>

                    <span> {{events.Description}}</span>
                    <mat-icon>description</mat-icon>
                </p>
                <p>
                    <span>
                        promoter:{{events.User.FirstName}}</span>
                    <mat-icon>person</mat-icon>
                </p>
                <p>

                    <span> comment:{{events.Comment}}</span>
                    <mat-icon>question_answer</mat-icon>
                </p>
                <p>

                    <span> Dairy/Fleshy:{{isDairyOrFleshy()}}</span>
                    <mat-icon> local_cafe</mat-icon>
                </p>
                <p>

                    <span> Repeat:{{isRepeat()}}</span>
                    <mat-icon>replay</mat-icon>
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>
                    <mat-icon (click)="openModal();">edit</mat-icon>
                </button>
                <button mat-icon-button>
                    <mat-icon (click)="deleteEvent();">delete_sweep</mat-icon>
                </button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>