<div class="div1">
    <div class="div-menu"></div>
    <img src="../../assets/menu.JPG">
</div>

<mat-icon> local_dining</mat-icon>
<mat-icon> restaurant</mat-icon>
<mat-icon>add</mat-icon>
<mat-icon>add_box</mat-icon>
<mat-icon>add_circle</mat-icon>
<mat-icon>add_circle_outline</mat-icon>
<div class="details">
    <mat-icon style=" left: 235px;
    position: relative;
    top: 20px;font-size: 35px;">calendar_today</mat-icon>
    <h1 style="margin: 25px 210px 16px;">the title‏</h1>
    <mat-icon>date_range</mat-icon>
    <p>date:</p>
    <mat-icon>home</mat-icon>
    <p>address:</p>
    <mat-icon>description</mat-icon>
    <p>description:</p>
    <mat-icon>person</mat-icon>
    <p>promoter:</p>
    <mat-icon>question_answer</mat-icon>
    <p>comment:</p>
    <mat-icon> local_cafe</mat-icon>
    <p>Dairy/Fleshy:</p>
    <mat-icon>edit</mat-icon>
    <mat-icon>delete_sweep</mat-icon>
    <mat-icon>mail</mat-icon>
</div>
<mat-icon> insert_photo</mat-icon>
<mat-icon>add_photo_alternate</mat-icon>
<div style="background-color: rgb(252, 191, 203);">סלייד של תמונות...</div>