<!-- <div class="dropdown">
     <button class="users" type="button" data-toggle="dropdown"> 

         <span class="caret"></span><mat-icon>groups</mat-icon></button> 
    <div class="size">
        <div *ngFor="let user of users">
            <img [src]="user.Image"  *ngIf="user.Image">
            <span class="circle-name" *ngIf="!user.Image">
                {{FirstLetter(user.UserName)}}
               </span>
            <span class="userName">{{user.FirstName}} {{user.LastName}}</span>
            <button class="clear" (click)="DeleteUserFromGroup(user.Id)"><mat-icon class="clear-icon">clear</mat-icon></button>
            <div class="dropdown-divider"></div>
            </div>
        <div class="dropdown-divider"></div>
        <div><button (click)="RouteToAddUser()"><mat-icon>person_add_alt_1</mat-icon>Add User</button></div>
        </div>
</div> -->
<div>
    <!-- <input formControlName = "search" (keyup) = "search($event.target.value)" /> -->
    <table mat-table [dataSource]="users" class="mat-elevation-z8">
        <ng-container matColumnDef="Name">
            <td mat-cell *matCellDef="let user">
                <img [src]="user.Image" *ngIf="user.Image">
                <span class="circle-name" *ngIf="!user.Image">
                    {{FirstLetter(user.UserName)}}
                </span>
                <span class="userName">{{user.FirstName}} {{user.LastName}}</span>
                <button class="clear" (click)="DeleteUserFromGroup(user.Id)">
                    <mat-icon class="clear-icon">clear</mat-icon>
                </button>
            </td>
        </ng-container>


        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <div><button (click)="RouteToAddUser()">
            <mat-icon>person_add_alt_1</mat-icon>Add User
        </button></div>
</div>