.circle-name {

 
    font-size:2em;
    width:2.5em;
    height:2.5em;
    line-height:2.5em;
    text-align:center;
    border-radius:50%;
    background:#e6a398;
    vertical-align:middle;
    cursor: pointer;
    color:white;
    display: inline-block;
  }
  img{
 
    cursor: pointer;
    width:4em;
    height:4em;
    border-radius:50%;


  }
  .container{
    position: relative;
  }


 .toolbar-top{
    display: block;
  }
  .user{
    margin-left: 25%;
    display:inline-block;
  }
  #user-name{
    text-align: center;
  }

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 220px;

}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-icon {
  margin-left: 10px !important;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  height: 60px;
}

.sid-content {

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.toolbar-top {
  height: 51px !important;
  padding: 5px 10px;
}

.content-wrapper {
  margin: 20px;
}

.btn-nav-wrapper {
  border-top: 0.1px solid#fafafa;
  border-bottom: 0.1px solid#fafafa;
}



.btn-toggle-nav {
  position: fixed;
  top: 13px;
}

.small-font {
  font-size: 14px;
}
button:not(:disabled) {
  cursor: pointer;
  border: none;
  background-color: transparent;}
  
.h1{
  margin-left: 40%;
  margin-right: 20%;
  font-size: 132%;
  }
  .mat-toolbar {
    background: #d2e6e7;}
  .mat-drawer { background-color: #fafafa;}
 
  .ng-tns-c219-0{
    overflow: hidden !important;
  }
  .mat-focus-indicator{
    text-align: left;
  }