<mat-card>
    <mat-card-content>
      <form [formGroup]="addGroupForm" (submit)="AddGroup()">
        <h2>New Group</h2>
        <mat-form-field class="full-width-input">
          <input matInput placeholder="Name" formControlName="Name" >
        </mat-form-field>
        <br>
        <mat-form-field class="full-width-input">
          <input type="file"
                id="file"
                (change)="onSelectFile($event)"  >
                <input matInput class="invisible" name="fileHidden" formControlName="Image"/>
        </mat-form-field>
        <br>
        <button mat-raised-button  type="submit">Save</button>
      </form>
    </mat-card-content>
  </mat-card>
