h1{
    text-align: center;
    font-size: xx-large;
    font-family:"Open Sans", sans-serif;
    font-weight: bold;
}

.background{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 445px;
}
.hhh{
    width: 10px !important;
}