<mat-card>
    <mat-card-content>
      <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
        <h2>Create Menu</h2>
        <mat-form-field class="full-width-input">
          <input matInput placeholder="MenuOrder" type="number" formControlName="MenuOrder" required>
        </mat-form-field>
        <mat-form-field class="full-width-input">
          <input matInput placeholder="Name" formControlName="Name" required>
        </mat-form-field>
        <mat-form-field class="full-width-input">
          <input matInput placeholder="Quantity" type="number" formControlName="Quantity" required>
        </mat-form-field>
        <mat-form-field class="full-width-input">
          <input matInput placeholder="Cost" type="number" formControlName="Cost" required>
        </mat-form-field>
        <button type="submit" mat-raised-button color="primary">Add</button>
      </form>
    </mat-card-content>
  </mat-card>