<br>
<br>
<table id="groups">
    <thead>
        <th class="add-group" ><button type="button" (click)="addGroup()" class="add-btn"><mat-icon class="add-icon">add_circle_outline</mat-icon></button></th>
        <th>My Groups</th>
        </thead>
    <tr *ngFor="let group of groups">
        <td class="delete-td"><button type="button" (click)="deleteGroup(group.Id)"><mat-icon class="delete-icon" >delete</mat-icon></button></td>
        <td (click)="routeToDisplatGroup(group)" >{{group.Name}}</td>
        </tr>
</table>
