mat-card {

  max-width: 500px;
  margin: 3em auto;
  text-align: center;
  

  }
  mat-form-field {
    display: block;
  }
  .invisible{
    display: block;
    visibility: hidden;
    height: 0;
    width: 0;
}
img{
  width: 100px;
  text-align: left !important;
  direction: ltr;
  margin-left: -90%;

}